body{
    background-color: cyan;
    background-image: url('https://img.freepik.com/vetores-gratis/plano-de-fundo-verde-abstrato-geometrico_23-2148359494.jpg?size=626&ext=jpg');
    background-size: auto 100vh;
    font-family:Arial;
      height: 100vh;
  }
  .menu{
    background-color: #cececece;
  }
  .menu ul{
    display: flex;
    justify-content:space-around;
  }
  .menu li{
    list-style: none;
  }
  a{
    color:black;
    font-family:Times;
    font-style:italic;
    text-decoration:none;
  }
  a:hover{
   background-color: cyan;
    transition:1s;
    box-shadow: 3px 3px 8px black;
  }
  .site-subtitle,
  .site-title{
    color:whitesmoke;
    text-align:center;
  }
  .site-subtitle{
    font-style:italic;
   
  }